[Unit]
Description=Physical media event handler
After=opx-cps.service opx-front-panel-ports.service
Requires=opx-cps.service opx-front-panel-ports.service
OnFailure=service_onfailure@%n.service

[Service]
Type=notify
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/python -u /usr/bin/base_nas_monitor_phy_media.py
TimeoutStartSec=90

[Install]
WantedBy=multi-user.target
