[Unit]
Description=This service is to create all interface during system initiation
ConditionPathExists=!/etc/opx/nas_if_nocreate
After=opx-cps.service
Wants=opx-cps.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/python -u /usr/bin/base_nas_create_interface.py
ExecStartPost=/bin/sh -c /usr/bin/base_nas_fanout_init.sh && /usr/bin/network_restart.sh
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
