[Unit]
Description=Front panel port object access handler
After=opx-nas.service
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/base_nas_front_panel_ports.sh

# Resource Limitations
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
