[Unit]
Description=Physical media event handler
After=opx-cps.service
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/base_nas_monitor_phy_media.sh

# Resource Limitations
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
